<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contact Us</h1>

{% block content %}
<div class="container">
    <h2>{% if success_message %}Success{% else %}Contact Us{% endif %}</h2>

    {% if success_message %}
        <div class="success-message">
            {{ success_message }}
        </div>
    {% else %}
        <div class="contact-card">
            <p>Have questions? Reach out to us using the form below.</p>


            <form method="post" action="{% url 'contact_us' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="margin-bottom: 30px;">Send Message</button>
            </form>
        </div>
    {% endif %}

    <div class="footer-space"></div>
</div>
{% endblock %}


</body>
</html>