<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h2>Currency Details</h2>
<p>Province:{{ checkout_data.province }}</p>
<p>Region:{{checkout_data.region }}</p>
<p>pickup_location:{{ checkout_data.pickup_location }}</p>
<p>canadian_dollars:{{ checkout_data.canadian_dollars }}</p>
<p>destination_country:{{ checkout_data.destination_country }}</p>
<p>equivalent_amount_in_currency:{{ checkout_data.equivalent_amount_in_currency }}</p>

<form method="post" action="{% url 'create-checkout-session'%}">
    {% csrf_token %}
    <input type="hidden" name="canadian_dollars" value="{{ checkout_data.canadian_dollars }}">
    <button type="submit">Checkout</button>

</form>
</body>
</html>