{% extends 'myapp/base.html' %}

{% block title %}Home{% endblock %}
<div class="d-flex flex-grow-1" style="width: fit-content">
    <div class="col-md-12">
        {% block content %}

            <img src="https://blog.gilded.finance/content/images/size/w300/2020/03/animation--24-.gif" class="img-fluid" alt="Full-width Image" style="display: flex">
        {% endblock %}

    </div>
    <footer>
        <p>&copy; 2023 Your Cryptocurrency Website. All rights reserved.</p>
    </footer>
</div>